.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

a h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  transition: opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: white;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.backdrop__btn {
  top: 8px;
  right: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  cursor: pointer;
}

.backdrop__btn:hover .backdrop__icon-close {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -70%);
  opacity: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Form */
.backdrop__lebel-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  padding-right: 40px;
  padding-left: 40px;
  width: 448px;
  font-weight: 700;
}

.backdrop__wapper-form {
  display: block;
}

.backdrop__form {
  display: grid;
  justify-content: center;
}

.backdrop__label {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 448px;
}
@media screen and (min-width: 480px) {
  .backdrop__label {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__label {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__label {
    width: 448px;
  }
}

.backdrop__label-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.backdrop__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input:focus {
  outline: 1px solid #2196F3;
  border-radius: 4px;
  border: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input:focus + .backdrop__icon-label {
  fill: #2196F3;
}

.backdrop__comment-text {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #000000;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
@media screen and (min-width: 480px) {
  .backdrop__comment-text {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__comment-text {
    width: 448px;
  }
}

.backdrop__comment-text:focus {
  outline: 1px solid #2196F3;
  border: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__label-text-checkbox {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .backdrop__label-text-checkbox {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__label-text-checkbox {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.backdrop__label-link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.backdrop__icon-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

.backdrop__wapper-icon-label {
  position: relative;
}

.backdrop__agreement-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 1px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__label-text-icon {
  position: absolute;
  bottom: 4px;
  left: 1px;
  top: 2px;
  right: 4px;
  fill: white;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__agreement-checkbox:checked + .backdrop__label-text-icon {
  opacity: 1;
}

.backdrop__label-text-agermeent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .backdrop__label-text-agermeent {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.backdrop__agreement-checkbox:checked {
  background-repeat: no-repeat;
  background: #2196F3;
  background-size: 11px 8px;
  border: transparent;
}

.backdrop__label-text-wrapper {
  position: relative;
}

.backdrop__label-comment {
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.backdrop__form-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  border: transparent;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form-btn:hover,
.backdrop__form-btn:focus {
  background-color: #188CE8;
}

.backdrop__wapper-btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__background {
  display: none;
}

.card__description-wripper {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin-top: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card__test-conteiner {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  text-decoration: none;
}

.card__test-conteiner li:nth-child(n+7) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .card__test-conteiner li:nth-child(n+7) {
    margin-bottom: 30px;
  }
}

.card__test-conteiner li {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}
@media screen and (min-width: 480px) {
  .card__test-conteiner li {
    margin-right: 0;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card__test-conteiner li {
    width: 354px;
  }
}
@media screen and (min-width: 480px) {
  .card__test-conteiner li {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card__test-conteiner li {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card__test-conteiner li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card__test-conteiner li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card__test-conteiner li:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .card__test-conteiner li:last-child {
    margin-bottom: 0;
  }
}

.card__icon-move::before {
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__icon-move {
  position: relative;
  overflow: hidden;
}

.card__box-description:hover .card__icon-move::before {
  transform: translateY(0);
}

.card__text-move {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: white;
  width: 322px;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__box-description:hover .card__text-move {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.card__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  color: #212121;
}

.card__center-button5 {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .card__center-button5 {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .card__center-button5 {
    margin-top: 0;
  }
}

.card__center-button4 {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .card__center-button4 {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .card__center-button4 {
    margin-top: 0;
  }
}

.card__box-description {
  display: block;
}

.card__box-description:hover,
.card__box-description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__center-button {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .card__center-button {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .card__center-button {
    display: flex;
    justify-content: center;
  }
}

.card__center-button li {
  margin-right: 8px;
}

.card__center-button li button:hover,
.card__center-button li button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__center-button li:last-child {
  margin-right: 0;
}

.card__center-button button:hover,
.card__center-button button:focus {
  background: #2196F3;
  color: white;
}

.card__profession {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.card__center-button1 {
  color: white;
  background-color: #2196F3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 25px;
  border: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__center-button2 {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__center-button3 {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .card__center-button3 {
    width: 117px;
  }
}

@media screen and (min-width: 480px) {
  .card__foto-portfolio {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .discraption__list-item1 {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .discraption__list-item1 {
    padding-top: 0px;
  }
}

.discraption__list-item1::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../img/icons.svg/Group1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.discraption__list-item2::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../img/icons.svg/clock\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.discraption__list-item3::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../img/icons.svg/diagram\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.discraption__list-item4::before {
  display: block;
  content: "";
  height: 120px;
  background-image: url(../img/icons.svg/astronaut\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .discraption__list-item1 {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .discraption__list-item2 {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .discraption__list-item3 {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .discraption__list-item4 {
    width: 270px;
  }
}

.discraption__feature {
  display: flex;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .discraption__feature {
    display: contents;
  }
}
@media screen and (min-width: 768px) {
  .discraption__feature {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .discraption__feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .discraption__feature:nth-child(2n) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .discraption__feature:nth-child(2n) {
    margin-right: 0;
  }
}

.discraption__feature li:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 480px) {
  .discraption__feature li:last-child {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .discraption__feature li:last-child {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .discraption__feature li:first-child {
    padding-top: 0;
    margin-right: 30px;
  }
}

.discraption__feature li {
  width: 270px;
  margin-right: 30px;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .discraption__feature li {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .discraption__feature li {
    width: 331px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .discraption__feature li {
    width: 270px;
    margin-right: 30px;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.discraption__details {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-discraption {
  padding-top: 94px;
  padding-bottom: 47px;
}

.discraption__background {
  display: none;
}

.icon__discraption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.description__problems {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .discraption {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .discraption__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .discraption__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
@media screen and (min-width: 480px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrepper-one-contacs {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .footer__wrepper-one-contacs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrepper-one-contacs {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrepper-two-contacs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 165px;
  }
}
@media screen and (min-width: 480px) {
  .footer__wrepper-two-contacs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrepper-two-contacs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
  }
}

.footer__address-num {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-footer {
  margin-top: 20px;
}

.footer__address-mail-partfolio {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-num-partfolio {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-strit {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__hover-address :hover,
.footer__hover-address :focus {
  color: #2196F3;
}

.footer__hover-address {
  font-style: normal;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .footer__hover-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__hover-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__hover-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__address-portfolio {
  margin-bottom: 9px;
}

.footer__address-foter-html {
  margin-top: 20px;
}

.footer__strit-html {
  margin-bottom: 9px;
}

.footer__mail-html {
  margin-bottom: 9px;
}

.footer__address-strit {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-strit :focus {
  color: #2196F3;
}

.footer__address {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail-partfolio {
  margin-bottom: 9px;
}

.social-networks__content1 {
  list-style: none;
  padding-left: 0;
}

.social-networks__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

.social-networks__content2 {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.social-networks__item {
  cursor: pointer;
}

.social-networks__button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: space-around;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__button:hover {
  background-color: #2196F3;
}

.social-networks__button li:hover,
.social-networks__button li:focus {
  background-color: #2196F3;
}

.social-networks__wapper1 {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-networks__wapper2 {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-networks__wapper3 {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-networks__wapper4 {
  width: 20px;
  height: 20px;
  fill: white;
}

@media screen and (min-width: 480px) {
  .social-networks {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-networks {
    padding-top: 0;
  }
}

.header__button .link {
  display: block;
  padding-top: 26px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button-nomber link {
  padding-left: 50px;
}

.header__button-nomber {
  color: #757575;
  margin-left: 50px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__button-nomber {
    margin-left: 0;
  }
}

.header__button-gmail {
  color: #757575;
  align-items: center;
}

.header__button a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #212121;
}

.header__button {
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
}

.header__button-contact .header__item-mail {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .header__button-contact .header__item-mail {
    padding-top: 21px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__button-contact .header__item-mail {
    margin-right: 30px;
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 0;
  }
}

.header__button-contact .header__item-tel {
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .header__button-contact .header__item-tel {
    padding-bottom: 21px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__button-contact .header__item-tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__button li:first-child {
  margin-left: 93px;
}

.header__button li {
  margin-left: 50px;
}

.header__button li:last-child {
  margin-right: 0px;
}

.header__button li:first-child {
  margin-left: 0;
}

.header__button :hover,
.header__button :focus {
  color: #2196F3;
}

.header__button .link.header__current-border {
  color: #2196F3;
}

.header__current-border::after {
  content: "";
  background: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  right: 0;
  bottom: 0;
  position: absolute;
}

.header__current {
  position: relative;
}

.header__button-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__button-contact2 a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.header__button-contact {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .header__button-contact {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__button-contact {
    display: flex;
    margin-left: auto;
    padding-left: 0;
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .header__button-contact {
    display: none;
  }
}

.header__button-contact2 {
  display: flex;
  margin-left: auto;
  padding-left: 0;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .header__button-contact2 {
    flex-direction: column;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__button-contact2 {
    flex-direction: row;
    padding-top: 32px;
  }
}

.header__button-contact2 .header__item-mail {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header__button-contact2 .header__item-mail {
    margin-right: 30px;
  }
}

.header__button-contact2 :hover,
.header__button-contact2 :focus {
  color: #2196F3;
}

.header__button-contact:first-child {
  padding-left: 0;
}

.header__button-contact a:hover,
.header__button-contact a:focus {
  color: #2196F3;
  fill: #2196F3;
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
  height: 80px;
}

.header__button-nomber svg {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.header__button-gmail svg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

/* main nav */
.header__nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header__nav2 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 32px;
}

.header__div {
  display: flex;
}

/* header__logo */
.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  font-family: Raleway;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}
@media screen and (min-width: 480px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.4;
  }
}

.header__logo-two {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: white;
  font-family: Raleway;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header__logo-two {
    margin-bottom: 0;
  }
}

.header__logo-web {
  color: #2196F3;
}

@media screen and (min-width: 767px) {
  .header__modal-window {
    display: none;
  }
}

.header__modal-window-button {
  background-color: white;
  border: none;
  margin-left: 276px;
}

.header__modal-window-button:hover,
.header__modal-window-button:focus {
  fill: #2196F3;
}

.header__modal-window-button.is-open .backdrop-nav__button-svg {
  display: block;
}

.icon__discraption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .icon__discraption {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .icon__discraption {
    font-size: 36px;
    line-height: 1.2;
  }
}

.icon__main {
  list-style: none;
  display: flex;
  gap: 30px;
  fill: #188CE8;
}
@media screen and (min-width: 480px) {
  .icon__main {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .icon__main {
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .icon__main {
    flex-wrap: nowrap;
  }
}

.icon__main a {
  width: 170px;
  height: 92px;
  color: #afb1b8;
}

.icon__main li svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon__main a {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .icon__main a {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .icon__main a {
    width: 170px;
    height: 92px;
  }
}

.icon__main a:hover,
.icon__main a svg:hover {
  border-color: #2196F3;
}

.icon__wrapper-icons:hover svg {
  fill: #2196F3;
}

.icon__wrapper-icons svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: white;
  text-transform: uppercase;
}

.business__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .business__title {
    font-size: 26px;
    line-height: 1.6;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .business__title {
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .business__title {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.business {
  padding-bottom: 200px;
  text-align: center;
  padding-top: 200px;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/back\ ground\ hero\ chenge.jpg);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/Header\ img.jpg);
    width: 480px;
  }
}
@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/Header\ img@2x.png);
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Header\ img3321.jpg);
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/Header\ img2\ 2x.jpg);
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/back\ ground\ hero\ chenge.jpg);
    width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .business {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/Img3\ 2x.jpg);
    width: 1600px;
  }
}

.business__button {
  text-align: center;
  color: white;
  background-color: #2196F3;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  border: 0px;
  cursor: pointer;
}

.business__button:hover,
.business__button:focus {
  background-color: #188CE8;
  color: white;
}

.form {
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .form {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: auto;
  }
}

.form__btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.form__icon {
  margin-left: 10px;
}

.form__input-wripper {
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .form__input-wripper {
    flex-direction: column;
    align-items: center;
    width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .form__input-wripper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form__input-wripper {
    flex-direction: row;
    align-items: center;
    width: 570px;
  }
}

.form__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 15px;
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
}
@media screen and (min-width: 480px) {
  .form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
  }
}

.form__text-mail {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.form__text-mail-wrapper {
  width: 570px;
}
@media screen and (min-width: 480px) {
  .form__text-mail-wrapper {
    width: 207px;
  }
}

.team__our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__name1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  padding-left: 71px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .team__name1 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  padding-left: 83px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .team__name2 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  padding-left: 70px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .team__name3 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  padding-left: 63px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .team__name4 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name-description1 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  padding-left: 70px;
}
@media screen and (min-width: 480px) {
  .team__name-description1 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name-description2 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  padding-left: 62px;
}
@media screen and (min-width: 480px) {
  .team__name-description2 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name-description3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  padding-left: 97px;
}
@media screen and (min-width: 480px) {
  .team__name-description3 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team__name-description4 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  padding-left: 92px;
}
@media screen and (min-width: 480px) {
  .team__name-description4 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

.team {
  background-color: #F5F4FA;
}

.team__cards {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .team__cards {
    display: contents;
  }
}
@media screen and (min-width: 768px) {
  .team__cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__cards {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team__cards .team__card-person {
  margin-right: 30px;
  background-color: white;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .team__cards .team__card-person {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__cards .team__card-person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__cards .team__card-person {
    width: 270px;
    height: 428px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__card-person:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__card-person:nth-child(n+3) {
    margin-bottom: 0px;
  }
}

.team__card-person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__card-person {
    margin-bottom: 30px;
  }
}

.team__cards li:last-child {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .team__cards li:last-child {
    margin-bottom: 0;
  }
}

.team__cards li:first-child {
  padding-left: 0px;
}

@media screen and (min-width: 1200px) {
  .team__card-person {
    margin-bottom: 0;
  }
}

.team__icon {
  list-style: none;
  padding-left: 0;
  width: 270px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team__icon {
    display: flex;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__icon {
    padding-bottom: 24px;
  }
}

.team__icon-wripper {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-wripper:hover,
.team__icon-wripper:focus {
  background-color: #2196F3;
}

.team__icon-wripper:hover .team__icon-discraib {
  fill: currentColor;
}

.team__icon-discraib {
  width: 20px;
  height: 20px;
}

.team__icon li {
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .team__foto {
    height: 460px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__foto {
    height: 374px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team__foto {
    width: 100%;
    height: 260px;
    width: 270px;
  }
}

.work__icon-description1::before {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  display: inline-block;
  bottom: 0;
  left: 0;
  height: 70px;
  position: absolute;
}

.work__icon-description2::before {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  display: inline-block;
  bottom: 0;
  height: 70px;
  position: absolute;
}

.work__icon-description3::before {
  content: "";
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  display: inline-block;
  bottom: 0;
  height: 70px;
  position: absolute;
}

.work__icon-name1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  content: "";
  width: 370px;
  display: inline-block;
  bottom: 0;
  left: 0;
  height: 70px;
  position: absolute;
  padding: 27px 107px;
  color: white;
}

.work__icon-name2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  content: "";
  width: 370px;
  display: inline-block;
  bottom: 0;
  height: 70px;
  position: absolute;
  padding: 27px 107px;
  color: white;
}

.work__icon-name3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  content: "";
  width: 100%;
  display: inline-block;
  bottom: 0;
  position: absolute;
  color: white;
  padding: 27px 95px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.work__about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work {
  margin-bottom: 0;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}

.work__foto {
  flex-direction: row;
  display: flex;
  padding-left: 0;
  justify-content: center;
  position: relative;
}

.work__foto li {
  margin-left: 30px;
}

.work__foto li:first-child {
  margin-left: 0px;
}

@media screen and (min-width: 480px) {
  .backdrop-nav {
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
    position: absolute;
    width: 480px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .backdrop-nav {
    display: none;
  }
}

.backdrop-nav.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .backdrop-nav.is-open {
    display: none;
  }
}

.backdrop-nav__wrapper {
  width: 100%;
}

.backdrop-nav__contact-wrapper {
  margin-top: 302px;
}

.backdrop-nav__title-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
}

.backdrop-nav__title-link-studio {
  color: #2196F3;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.backdrop-nav__title-link:hover,
.backdrop-nav__title-link:focus {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.backdrop-nav__title-item {
  margin-bottom: 36px;
}

.backdrop-nav__title-item:last-child {
  margin-bottom: 0;
}

.backdrop-nav__title-link-contact {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.backdrop-nav__title-link-contact:hover,
.backdrop-nav__title-link-contact:focus {
  color: #2196F3;
}

.backdrop-nav__title-social {
  display: flex;
  position: relative;
  padding-bottom: 48px;
}

.backdrop-nav__title-social li {
  margin-right: 20px;
}

.backdrop-nav__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.backdrop-nav__social-link-chapter1 {
  position: absolute;
  width: 22px;
  height: 199px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  top: -90px;
  left: 225px;
}

.backdrop-nav__social-link-chapter2 {
  position: absolute;
  width: 22px;
  height: 199px;
  top: 726px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  top: -90px;
  left: 303px;
}

.backdrop-nav__social-link-chapter3 {
  position: absolute;
  width: 22px;
  height: 199px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  top: 0;
  left: 135px;
  top: -90px;
  left: 404px;
}

.backdrop-nav__button-wrapper {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: 10px;
}

.backdrop-nav__title-contacts:first-child {
  margin-bottom: 64px;
}

.backdrop-nav__title-item-contact {
  margin-bottom: 30px;
}

.backdrop-nav__button {
  background-color: white;
  border: none;
  right: 15px;
  position: absolute;
  cursor: pointer;
}

.backdrop-nav__button-svg:focus,
.backdrop-nav__button-svg:hover {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */