.card__background {
  display: none;
}
.card__description-wripper {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin-top: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card__test-conteiner {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  text-decoration: none;
}

.card__test-conteiner li:nth-child(n + 7) {
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.card__test-conteiner li {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  @media screen and (min-width: 320px) {
    margin-right: 0;
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 320px) {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.card__test-conteiner li:nth-child(odd) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.card__test-conteiner li:nth-child(3n) {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.card__test-conteiner li:last-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.card__icon-move::before {
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__icon-move {
  position: relative;
  overflow: hidden;
}

.card__box-description:hover .card__icon-move::before {
  transform: translateY(0);
}

.card__text-move {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: $primary-backgraund-color;
  width: 322px;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__box-description:hover .card__text-move {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.card__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  color: $description-text-color;
}

.card__center-button5 {
  color: $description-text-color;
  background-color: $center-button-backgraund;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 320px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.card__center-button4 {
  color: $description-text-color;
  background-color: $center-button-backgraund;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 320px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.card__box-description {
  display: block;
}

.card__box-description:hover,
.card__box-description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__center-button {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  @media screen and (min-width: 320px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.card__center-button li {
  margin-right: 8px;
}

.card__center-button li button:hover,
.card__center-button li button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__center-button li:last-child {
  margin-right: 0;
}

.card__center-button button:hover,
.card__center-button button:focus {
  background: $hover-focus-color;
  color: $primary-backgraund-color;
}

.card__profession {
  font-size: 16px;
  line-height: 1.9;
  color: $link-text-color;
}

.card__center-button1 {
  color: $primary-backgraund-color;
  background-color: $hover-focus-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 25px;
  border: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__center-button2 {
  color: $description-text-color;
  background-color: $center-button-backgraund;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__center-button3 {
  color: $description-text-color;
  background-color: $center-button-backgraund;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 320px) {
    width: 117px;
  }
}

.card__foto-portfolio {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
}
