    $primary-text-color: #212121;
    $hover-focus-color: #2196F3;
    $link-text-color: #757575;
    $description-text-color: #212121;
    $header__logo-text-color: #000000;
    $footer-backgraund-color: #2F303A;
    $primary-backgraund-color: #ffff;
    $addres-number-color: #FFFFFF99;
    $center-button-color: rgba(33, 150, 243, 1);
    $center-button-backgraund: #F5F4FA;
    $button--color: #188CE8;
    $line--header : #ECECEC;
    $card--laine : #EEEEEE;
    $anim-slow : 250ms;
